* {
  box-sizing: border-box;
}

html {
  font-family: var(--fonts);
  font-size: 16px;
  line-height: 1.4;
  background-color: white;
}

body {
  margin: 0;
}

main,
header,
footer {
  max-width: 600px;
  margin: 0 auto;
}

main {
  margin-top: 1rem;
}

footer {
  padding: 0 1.5rem;
  font-size: .8rem;
}

header .header-content {
  padding-top: 2.5rem;
}

nav {
  font-size: 1rem;
}

nav ul {
  padding: 0;
}

nav li {
  list-style-type: none;
  display: inline-block;
  padding-right: .5rem;
}

nav li:last-child {
  padding: 0;
}

nav a {
  border-bottom: none;
}


datetime {
  display: block;
  font-size: .7rem;
  margin-bottom: 1rem;
  color: var(--color-gray-light);
  font-weight: 200;
  text-transform: uppercase;
}

article,
.header-content {
  margin: 0 1.5rem 3rem 1.5rem;
}

.header-content {
  margin-top: 0rem;
  margin-bottom: 5rem;
}

article:not(:first-child) {
  padding-top: 3rem;
  margin-top: 4rem;
  border-top: 1px solid var(--color-gray-superlight);
}

a {
  color: var(--color-text);
  text-decoration: none;
}

article p a {
  color: var(--color-text);
  border: none;
  border-bottom: 1px solid var(--color-text);
}

article p a:hover {
  border-bottom: none;
}

p,
pre {
  margin: 1.5rem 0;
}

h1 a,
datetime a {
  border-bottom: none;
}

datetime a {
  color: var(--color-gray-light);
}

datetime a:hover {
  color: var(--color-gray-dark);
}


blockquote {
  margin-left: -24px;
  margin-right: 0;
  border-left: 3px solid #333;
  padding-left: 20px;
  font-style: italic;
}

pre {
  background-color: #f7f7f7;
  padding: 10px 10px;
  overflow: auto;
  display: block;
}

code {
  font-family: "Menlo", "Monaco", "Source Code Pro", "Inconsolata", "Consolas", "Droid Mono", monospace;
  font-size: .8rem;
  padding: 0 3px 2px 3px;
  color: var(--color-text);
  background-color: #f7f7f7;
}

pre code {
  padding: 0;
}

article h1 {
  font-size: 1.5rem;
  margin-top: .6rem;
  margin-bottom: .3rem;
}

article p {
  margin-top: .6rem;
}

article h2 {
  font-size: 1rem;
  margin-bottom: .3rem;
}

figure {
  margin: 0;
}

figure img {
  display: block;
  width: 100%;
}

figcaption {
  text-align: center;
  color: #a5a5a5;
  font-size: .7rem;
  font-weight: 300;
}

figcaption p {
  margin-top: .3rem;
}

.logo {
  text-align: center;
}

.logo a {
  background-color: #333;
  color: white;
  padding: 5px 10px;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
}

nav {
  text-align: center;
  font-size: .8rem;
}

.dot {
  color: var(--color-text);
}

.home-link {
  margin: 1.5rem;
}

.home-link a {
  color: #c7c7c7;
  font-size: .7rem;
}

.linkpost-link {
  margin-bottom: .3rem;
}

.linkpost-link a {
  font-weight: 700;
  border-bottom: none;
}

hr {
  border: none;
  height: 5px;
  position: relative;
  padding-bottom: 2.5rem;
  text-align: center;
}

hr:before {
  content: "...";
  letter-spacing: 15px;
  margin-left: 15px;
  display: inline-block;
}