:root {
  --fonts: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --color-highlight: #047fe4;
  --color-gray-superlight: #ececec;
  --color-gray-light: #c0c0c0;
  --color-gray-dark: #adadad;
  --color-text: #333;
}