{{ partial "head-list.html" . }}
<header>
  {{ partial "logo.html" . }}
  {{ partial "nav.html" . }}
</header>

{{ range (where .Data.Pages "Section" "!=" "") }}
	{{ if (eq .Section "post") }}
	<section class="article">
    {{ if .Title }}
    <h1 class="h2 article__title pt2 mb0"><a href="{{ .URL }}">{{ .Title }}</a></h1>
    {{ end }}
    <div class="date"><a href="{{ .URL }}">{{ .Date.Format "January 02, 2006" }}</a></div>
	{{ end }}
		{{ .Content }}
	</section>
{{ end }}

{{ partial "footer-list.html" . }}
