/* STICKY FOOTER */
html, body {
  height: 100%;
}

.content {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -3rem;
}

.content:after {
  content: "";
  display: block;
}

footer, .content:after {
  height: 3rem;
}

.footnote-return {
	text-decoration: none;
}
