<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Site.Title }}</title>
    <link href="https://micro.blog/ka" rel="me" />
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="{{ "/css/styles.min.css?v3" | relURL }}" />
    <link rel="alternate" type="application/rss+xml" title="RSS Feed for kahlillechelt.com" href="/index.xml" />
    {{ partial "head_custom.html" . }}
  </head>

  <body>
		<div class="content mx-auto">