    <footer class="container centered mt-24 mb-12 pin-b">
      &copy; {{ dateFormat "2006" now }} Kahlil Lechelt &bullet; <a href="/archive/">Archive</a>
    </footer>

    <script>
      const el = document.querySelector('.menu');
      const elItems = document.querySelector('.menu-items-js');
      const handleToggle = () => elItems.classList.toggle('hidden');

      el.onclick = () => handleToggle();
      el.addEventListener('keyup', (event) => {
        if(event.keyCode === 13 || event.keyCode === 32) {
          handleToggle();
        }
      });
    </script>

  </body>
</html>