    </div> {{/* Closes div.flex-inital right after the body tag. */}}
    <footer class="container flex-shrink-0 centered mt-40 pb-6 text-lg font-normal text-gray-500">
      &copy; {{ dateFormat "2006" now }} Kahlil Lechelt &bullet; <a class="underline hover:no-underline" href="/archive/">Archive</a>
    </footer>

    <script>
      const el = document.querySelector('.menu');
      const elItems = document.querySelector('.menu-items-js');
      const handleToggle = () => elItems.classList.toggle('hidden');

      el.onclick = () => handleToggle();
      el.addEventListener('keyup', (event) => {
        if(event.keyCode === 13 || event.keyCode === 32) {
          handleToggle();
        }
      });
    </script>

  </body>
</html>