<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" class="h-full">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .Site.Title }}</title>
    <link href="https://micro.blog/ka" rel="me" />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&:wght@900;700;400;300;200&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{ "/css/styles.min.css?v7" | relURL }}" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="RSS Feed for kahlillechelt.com"
      href="/index.xml"
    />
    {{/*  Twitter Card  */}}
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@kahliltweets" />
    <meta name="twitter:creator" content="@kahliltweets" />
    <meta name="twitter:title" content="{{ .Title }}">
    {{ with .Summary }}
    <meta name="twitter:description" content="{{ . }}" />
    {{ else }}
    <meta name="twitter:description" content="{{ .Param "description" }}" />
    {{ end }}
    <meta name="twitter:image" content="https://www.kahlillechelt.com/img/twitter-card-thumbnail.png" />
  </head>

  <body class="flex flex-col h-full">
    <div class="flex-sticky-footer">
