<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" class="h-full">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ .Site.Title }}</title>
    <link href="https://micro.blog/ka" rel="me" />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&:wght@900;700;400;300;200&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{ "/css/styles.min.css?v7" | relURL }}" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="RSS Feed for kahlillechelt.com"
      href="/index.xml"
    />
    {{/*  Twitter Card  */}}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@kahliltweets" />
    <meta name="twitter:creator" content="@kahliltweets" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:title" content="{{ .Title }}" />
    {{ with .Param "description" }}
    <meta property="og:description" content="{{ . }}" />
    {{ else }}
    <meta property="og:description" content="{{ .Summary }}" />
    {{ end }}
    <meta property="og:image" content="/img/twitter-card-thumbnail.png" />
  </head>

  <body class="flex flex-col h-full">
    <div class="flex-sticky-footer">
