<!-- <nav>
  <ul>
    {{ range .Site.Menus.main }}
    <li>
      <a href="{{ .URL | relURL }}">{{ .Name }}</a>
    </li>
    {{ end }}
  </ul>
</nav> -->

<nav class="flex items-center justify-between flex-wrap p-6 mb-6 bg-gray-900 text-white">
  <div class="flex items-center flex-shrink-0 mr-6">
    <div class="w-16 h-16 mr-4"><img class="rounded-full" src="https://pbs.twimg.com/profile_images/1152200434347651074/R9-O0TZw_400x400.jpg" alt=""></div>
    <div>
      <p class="font-semibold text-2xl tracking-tight"><a href="/">Kahlil's Blog</a></p>
      <p class="text-white text-lg font-light">on making software</p>
    </div>
  </div>
  <div class="block md:hidden">
    <button class="menu flex items-center px-3 py-2 border rounded border-white">
      menu
    </button>
  </div>
  <div class="menu-items hidden w-full flex-grow md:flex md:items-center md:w-auto text-xl">
    <div class="text-sm md:flex-grow"></div>
    <div>
      {{ range .Site.Menus.main }}
      <a href="{{ .URL | relURL }}" class="block mt-4 md:inline-block md:mt-0 hover:text-white mr-4">
        {{ .Name }}
      </a>
      {{ end }}
      
      <!-- <a href="#" class="inline-block text-sm px-4 py-2 leading-none border rounded text-gray-900 border-gray-900 hover:border-transparent hover:text-gray-800 hover:bg-white mt-4 lg:mt-0">Download</a> -->
    </div>
  </div>
</nav>