

<nav class="p-4 container overflow-hidden relative">
  <div class="mr-6 pb-4 pt-12">
    <div>
      {{/*  <div class="flex justify-center pb-3"><img src="/img/avatar_2.jpg" alt="Avatar" class="rounded-full inline-block overflow-hidden w-16 h-16"></div>  */}}
      <p class="text-3xl text-center uppercase tracking-wide font-black relative px-2 md:pl-2">
        <a href="/">Kahlil Lechelt</a>
      </p>
    </div>
    <div class="menu-items text-center text-xl">
      {{ range .Site.Menus.main }}
      <a href="{{ .URL }}" class="mt-4 inline-block hover:underline">
        {{ .Name }}
      </a>
      {{ end }}
    </div>
  </div>
  {{/*  <div class="block md:hidden">
    <button class="menu flex items-center px-3 py-2 border rounded border-white">
      menu
    </button>
  </div>
  <div class="menu-items-js hidden w-full md:flex md:w-auto text-xl">
    <div class="text-sm md:flex-grow"></div>
    <div class="menu-items">
      {{ range .Site.Menus.main }}
      <a href="{{ .URL }}" class="block mt-4 md:inline-block md:mt-0">
        {{ .Name }}
      </a>
      {{ end }}
    </div>
  </div>  */}}
</nav>