/* CONTENT */
.content {
	max-width: 32rem;
}

/* MONOSPACE TYPE */
.monospace {
	font-family: var(--font-family);
}

/* SEPARATOR */
.separator div {
	height: 10px;
	margin: 0;
	padding: 0;
	line-height: 0;
	float: left;
	width: 10%;
}

.separator-small div {
  /* height: 5px; */
  float: none;
}

.separator-small {
  margin: 1.5rem 0 1.5rem 0;
}

/* DEKO COLORS */
.color-2 {
	background-color: var(--color-2);
}
.color-3 {
	background-color: var(--color-3);
}
.color-4 {
	background-color: var(--color-4);
}

/* NAVIGATION */
.nav {
	font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
}

.nav li {
  display: block;
  border-right: 0px solid white;
  padding: 0;
  margin: 0;
}

.nav-small {
	font-size: 1rem;
  padding-bottom: 2.5rem;
}

.nav a {
  text-decoration: none;
  border-bottom: none;
}

/* ARTICLES & NOTES */
.article,
.note {
	margin-bottom: 6rem;
}

.article,
.note {
	line-height: 1.8rem;
}

h1 {
	font-size: 1.5rem;
}

h2 {
	font-size: 1.3rem;
}

.note__header {
  margin-bottom: .1rem;
  text-transform: uppercase;
}

.note__header,
.note__header a {
	text-decoration: none;
	font-size: .7rem;
  color: #cfcfcf;
  font-weight: 100;
}

.article__title {
  line-height: 2rem;
}

.article__title a {
  text-decoration: none;
  border-bottom: none;
}

.stopper div {
	height: 1px;
	width: 10%;
	background-color: var(--text-color);
	display: none;
}

.date {
	padding-top: .3rem;
	font-size: .7rem;
  color: #cfcfcf;
  text-transform: uppercase;
  font-weight: 100;
}

.date a {
  color: #cfcfcf;
  text-decoration: none;
  border-bottom: none;
}

.note__link-header {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
}

.note__link-header a {
  text-decoration: none;
}

.note__link-arrow {
  font-family: sans-serif;
}

figure {
  margin: 0;
  margin-top: 1rem;
}

figure img {
  display: block;
}

figcaption p {
  margin-top: 0;
  text-align: center;
  font-size: 0.6rem;
  font-weight: 300;
}

.twitter-note {
  background-color: #f9f9f9;
  padding: 1rem 2rem;
  margin-top: 5rem;
  color: #555;
  font-weight: 400;
  border-radius: 6px;
}

.twitter-note p {
  margin: 0;
  margin-bottom: 1rem;
  text-align: center;
}

.twitter-note p:last-child {
  margin-bottom: 0rem;
}

.separator-bottom {
  text-align: center;
  padding-top: 2rem;
  height: 0;
  border-bottom: 1px solid #dadada;
  width: 3rem;
  margin: 0 auto;
}