/* MEDIA QUERIES */
@media only screen and (max-width : 570px) {
	html {
		padding: 1rem;
	}

	header h1 {
		font-size: 5rem;
		line-height: 4.1rem;
		margin-left: -4px;
	}
}

@media only screen and (max-width : 375px) {
	html {
		padding: 1rem;
	}

	header h1 {
		font-size: 3.7rem;
		line-height: 4.1rem;
		margin-left: -2px;
	}
}
