/* MEDIA QUERIES */
@media only screen and (max-width: 699px) {
	html {
    padding: 1rem;
    font-size: 16px;
	}

	header h1 {
		font-size: 5rem;
		line-height: 4.1rem;
		margin-left: -4px;
	}
}

@media only screen and (max-width: 375px) {
	html {
    padding: 1rem;
    font-size: 16px;
	}

	header h1 {
		font-size: 3.7rem;
		line-height: 4.1rem;
		margin-left: -2px;
	}
}
